@import '../variables/theme.scss';

@mixin flex_center($direction, $align, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin flex_row($spacing) {
  display: flex;
  justify-content: $spacing;
  flex-direction: row;
}

@mixin link() {
  color: $light;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  font-family: $primary_font;

  &:hover {
    color: $light;
  }

  @media (max-width: $phone) {
    font-size: 1em;
  }
}
