// primary colors
$dark: #2c2c2c;
$light: #eeeeee;

// secondary colors
$green: #73a580;

// fonts
$primary_font: 'Assistant';
$secondary_font: 'Playfair Display';

// dimensions
$footer_height: 100px;
$header_height: 100px;
$logo_height: 80px;
$min_page_h: calc(100vh - #{$header_height});

// media dimensions
$phone: 600px;
$tablet: 768px;
$laptop: 992px;
$x_laptop: 1200px;
