@import '../variables/theme.scss';
@import '../mixins/mixins.scss';

.container {
  min-height: $min_page_h;
  width: 90%;
  padding: 30px;

  z-index: 1;

  .attention {
    text-align: left;
    width: 80%;
    color: rgb(255, 185, 128);
    font-size: 1em;
    letter-spacing: 0.8px;
    // position: absolute;

    span {
      margin-right: 5px;
      color: red;
    }
  }

  .list {
    @include flex_center(row, top, flex-start);
    flex-flow: row wrap;
    min-height: $min_page_h;
    width: 100%;
    // padding: 30px;
  }
}
